<p>My to do list:</p>
<div></div>
<ul>
    <div ng-repeat="task in vm.todoList">
         <li>
             <span>{{ task.Title }}</span>
             <span>{{ task.Details }}</span>
             <span>{{ task.Date }}</span>
             <button ng-click="vm.showEdit(task)">Edit</button>
             <button ng-click="vm.deleteTask(task.TaskId)">Delete</button>
        </li>
    </div>
</ul>
    <form ng-submit="vm.editTask(vm.selectedTask)" ng-if="vm.edit">
            Title:<input type="text" name="title" ng-model="vm.selectedTask.Title"> <br>
            Details:<input type="text"name="details" ng-model="vm.selectedTask.Details"> <br>
            Date:<input type="datetime-local" name="date" ng-model="vm.selectedTask.Date">
            <input type="submit">
    </form>

